<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
    {% feed_meta %}
</head>
<body>
    <div class="wrapper">
        <div class="navbar container">
            {% if site.ins_logo %}
                <img id="ins-logo" src="{{ site.ins_logo }}" alt="Institute logo" />
            {% endif %}
            <a id="author-name" class="alignable pull-left" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
            <ul id="navlist" class="alignable pull-right navbar-ul">
                {% for x in site.nav %}
                        <li class="alignable pull-left nav-list"><a href="{{ x.link }}">{{ x.name }}</a>
                    {% if forloop.last == false %}
                        /
                    {% endif %}
                        </li>
                {% endfor %}
            </ul>
        </div>
        <div style="clear:both"></div>
        <hr>
        {% if page.is_contact == true %}
            <div class="container content contact">
        {% else %}
            <div class="container content">
        {% endif %}
                {{ content }}
                {% if site.footer == true %}
                    <hr />
                    <p style="text-align: center; margin-bottom: 10px">
                    <a href="{{ site.footer_url }}" class="footer-link"><small>{{ site.footer_text }}</small></a>
                    </p>
                {% endif %}
            </div>
    </div>
</body>
<footer>
</footer>
